@import "../../styles/vars.scss";

.container{
background-color: rgba(0, 0, 0, 0.568);
position: absolute;
width: 100vw;
height: 100vh;
top:0;
left:0;
display: flex;
justify-content: center;
align-items: center;

}

.popup_container{
    width: 700px;
    height: 500px;
    padding: 20px;
    background-image: url('../../assets/img/popup_fon1.png');
    background-size: cover;  
    background-position: bottom; 
    background-repeat: no-repeat; 
    border-radius: 20px;
}
.lazer_container{
    width: 700px;
    height: 500px;
    padding: 20px;
    background-image: url('../../assets/img/popup_fon2.png');
    border-radius: 20px;
    background-size: cover;  
    background-position: bottom; 
    background-repeat: no-repeat; 
}
.title_container{
    display: flex;
    justify-content: space-between;
    height: 20%;
}
.title{
    font-family: $NeueB;
    color: $base-gray;
    background-color: $base-gray;
    background-image: linear-gradient(180deg, rgb(43, 43, 43), rgb(121, 121, 121) 57%, rgb(26, 26, 26));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30pt;
    width: 80%;
    line-height: 120%;
    letter-spacing: 0.2px;
    
}
.x{
    width:20px;
    font-family: $NeueB;
    color: $base-gray;
    background-color: $base-gray;
    background-image: linear-gradient(180deg, rgb(43, 43, 43), rgb(121, 121, 121) 57%, rgb(26, 26, 26));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30pt;
    line-height: 120%;
    letter-spacing: 0.2px;
    
    cursor: pointer;
}
.content_container{
    display: flex;
    align-items: center;
    height: 80%;
}

.lady{
    display: flex;
    align-items: flex-end;
    height: 100%;
    img{
        width: 100%;
        max-width: 600px;
    }
}

@media (max-width: 780px) {

    .container{
        max-width: 100%;
        min-height: 100%;
        .title_container{
         
            height: 30%;
        }
        .content_container{
            display: flex;
            align-items: flex-end;
            height: 70%;
            
        }
    .popup_container, .lazer_container{
        width: 300px;
        height:270px;
        padding: 10px;
        border-radius: 20px;
        .title, .x{
            font-size: 15pt;
            line-height: 100%;
            letter-spacing: 0.2px;
            
        }
    }
}}